/* 设置鼠标悬停时的边框样式 */
#aside-content > .card-widget.card-info:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); /* 添加模糊边框效果，边框颜色为黑色，模糊度为 8px */
}
/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info::before {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  border: 0px;
  position: absolute;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}


/*[data-theme="light"] #body-wrap,[data-theme="light"] #footer {
    background: url(/css/kouseki.css) 26% center/cover no-repeat,linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))!important;
}*/

[data-theme="light"] #body-wrap{
    background: url(/css/kouseki.css) 26% center/cover no-repeat,linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))!important;
}

[data-theme="light"] #footer,[data-theme="light"] #footer-wrap{
    background: transparent !important;
}

[data-theme="light"] #footer-bar{
    background-color: rgba(255,255,255,0.8);
}

[data-theme="light"] #page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75) !important;
    backdrop-filter: blur(8px);
}
