@font-face {
    font-family: 'CascadiaCodePL';
    font-display: swap;
    src: url('/font/AlimamaFangYuanTiVF-Thin.ttf') format("truetype");
  }

body{
    font-family: 'CascadiaCodePL' !important;
}

.title{
    font-family: 'CascadiaCodePL' !important;
}

.categoryButtonText{
    font-family: 'CascadiaCodePL' !important;
}

