@font-face {
    font-family: 'CascadiaCodePL';
    font-display: swap;
    src: url('https://download.tooc.xlj0.com/uploads/56/AlimamaFangYuanTiVF-Thin.ttf') format("truetype");
  }

body{
    font-family: 'CascadiaCodePL' !important;
}

.title{
    font-family: 'CascadiaCodePL' !important;
}

.categoryButtonText{
    font-family: 'CascadiaCodePL' !important;
}

#site-info{
    font-family: 'CascadiaCodePL' !important;
}
